*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    font-family: calibri;
}
.FirstSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #B0D0D3;
    position: fixed;
    top: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.384); */
}
.Header{
    width: 85%;
    height: 90px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: auto; */
}
.LeftNav{
    display: flex;
    /* background-color: aquamarine; */
}
.LeftNav ol{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}
.LeftNav ol li{
    font-size: 16px;
    font-weight: 600;
    font-family: calibri;
    /* gap: 25px; */
}
.LogoNav{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-right: 70px;
    /* background-color: aquamarine; */

}
.RightNav{
    width: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    /* background-color: aquamarine; */

}
.iconImg img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.countR{
    position: relative;
}
.cartCount{
    width: 20px;
    height: 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: black;
    border-radius: 50px;
    position: absolute;
    top: -13px;
    right: -13px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.HamBurger{
    width: 25px;
    height: 25px;
    display: none;
    cursor: pointer;
}
.HamBurger img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.LeftNav ol li a{
    text-decoration: none;
    color: black;
}
@media (max-width:768px) {
    .FirstSection{
        /* background-color: white; */
    }
    .Header{
        margin: auto;
    }
    .LeftNav{
        width: auto;
        display: none;
        height: 100vh;
        background-color: white;
        color: black;
        position: fixed;
        top: 90px;
        left: 0;
    }
    .LeftNav ol {
        width: 300px;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
    .LeftNav ol li{
        text-align: left;
        width: 90%;
        padding-left: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.418);
    }
    .LogoNav{
        /* width: auto; */
        margin-left: 50px;
    }
    .RightNav{
        width: auto;
    }
    .iconImg{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .HamBurger{
        display: flex;
    }
    #Nav.open{
        display: flex;
    }
}


.LastSection{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    border-top: 1px solid rgb(160, 156, 156);
     padding: 20px 0px;
}
.LastWrapper{
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 27px;
    flex-wrap: wrap;
}
.First{
    width: 200px;
    height: 200px;
}
.First b{
    font-size: 20px;
    border-bottom: 1px solid black;
}
.First p{
    font-size: 17px;
    margin-top: 10px;
    font-weight: 500;
    color: rgb(155, 151, 151);
}
.First:nth-child(2) p:hover{
    color: black;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.First:nth-child(3) p:hover{
    color: black;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
 .socialMediaIcons{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .Icons{
    width: 25px;
    height: 25px;
 }
 .Icons img{
    width: 100%;
    height: 100%;
 }
.EmailInput{
    width: 200px;
    height: 55px;
    margin-top: 10px;
}
.EmailInput input{
    width: 200px;
    height: 40px;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid black;
}
.Logo{
    width: 130px;
    height: 50px;
}
.Logo:nth-child(1){
    margin-top: -15px;
    margin-left: -30px;
}
.Logo:last-child{
    width: 100px;
    height: 40px;
    margin-top: 0;
    margin-left: 0;
    /* background-color: lawngreen; */
}
.Logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.First button{
    padding: 10px 25px;
    border-radius: 3px;
    border: none;
    background-color: #B0D0D3;
    font-weight: bold;
}
.FooterBottom{
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(160, 156, 156);
}
.FooterWrap{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.Leftbottom{
    /* width: 50%; */
    display: flex;
    font-size: 15px;
}
.FooterLogo{
    width: 65px;
    height: 45px;
}
.FooterLogo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -15px;
}
.Rightbottom{
    display: flex;
    gap: 17px;
}
.Rightbottom p{
    font-size: 17px;
    font-weight: 500;
    color: rgb(155, 151, 151);
}
.Rightbottom p:hover{
    color: black;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
@media (max-width:480px) {
    .FooterWrap{
        align-items: center;
        flex-direction: column;
    }
    .Leftbottom{
        width: 100%;
        flex-direction: column;
        align-items: center;
        /* justify-content: center;
        gap: 0; */
    }
    .Rightbottom{
        width: 60%;
        margin-top: 15px;
        justify-content: space-between;
        padding-bottom: 10px;
    }
}
@media (max-width:480px) {
    .LastWrapper{
        justify-content: center;
        margin-top: 10px;
    }
    .FooterWrap{
        align-items: center;
        flex-direction: column;
    }
    .Leftbottom{
        width: 100%;
        flex-direction: column;
        align-items: center;
        /* justify-content: center;
        gap: 0; */
    }
    .Rightbottom{
        width: 60%;
        margin-top: 15px;
        justify-content: space-between;
        padding-bottom: 10px;
    }
}
@media (min-width:481px) and (max-width:768px) {
    .LastWrapper{
    justify-content: center;
    margin-top: 10px;
    display: flex;
    /* gap: 20px; */
}
.First:nth-child(1){
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.First:nth-child(1) p{
    width: 200px;
}
.First:nth-child(2){
    width: 150px;
    /* display: flex; */
}
.First:nth-child(3){
    width: 150px;
    margin-left: 20px;
    /* display: flex; */
}
    .FooterWrap{
        align-items: center;
        flex-direction: column;
    }
    .Leftbottom{
        width: 100%;
        flex-direction: column;
        align-items: center;
        /* justify-content: center;
        gap: 0; */
    }
    .Rightbottom{
        width: 60%;
        margin-top: 15px;
        justify-content: space-between;
        padding-bottom: 10px;
    }
}


.CartOptions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    /* background-color: gold; */
}
.CartWrapper{
    width: 85%;
    /* background-color: grey; */
    display: flex;
    justify-content: space-between;
}
.Cart{
    width: 70%;
    /* border: 1px solid rgb(160, 156, 156); */
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 50px;
    padding: 20px 0px;
    /* background-color: white; */
    border-radius: 3px;
    background-color: white;
}
.Cart h1{
    margin-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(160, 156, 156);
}
.BigHolder{
    display: flex;
}
.cartItem{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    border: none;
    /* background-color: fuchsia; */
    /* gap: 10px; */
}
.innerCartItem{
    width: 95%;                                                                                                                                                                                 
    display: flex;
    /* gap: -90px; */
    justify-content: space-between;
    margin-top: 10px;
   padding-bottom: 10px;
}
.detailtextHolder{
    width: 70%;
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
}
.detailtextHolder p{
    width: 200px;
    font-size: 25px;
    font-weight: 600;
    /* margin-right: 500px; */
}
.detailtextHolder b{
    font-size: 25px;
}
.cartImgHolder{
    width: 200px;
    height: 150px;
    /* background-color: white; */
    margin-left: 20px;
}
.cartImgHolder img{
    width: 100%;
    height: 100%;
}
.cartHolder p{
    font-size: 25px;
}
.cartImgHolder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detailtextHolder{
    /* background-color: rgb(221, 48, 48); */
    display: flex;
}
.line{
    width: 95%;
    margin-left: 20px;
    border-bottom: 1px solid rgb(160, 156, 156);
}
.TotalPrice{
    width: 27%;
    height: 180px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-top: 50px;
    padding: 0 10px;
    gap: 20px;
    border: 1px solid rgb(160, 156, 156);
    /* padding-bottom: -50px; */
}
.summary{
    width: 96%;
    margin-top: 10px;
    padding-bottom: 5px;
    /* margin-left: -140px; */
    border-bottom: 1px solid rgb(160, 156, 156); 
}
.amount{
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    border-bottom: 1px solid rgb(160, 156, 156); 
    padding-bottom: 5px;
}
.amount span{
    display: flex;
    justify-content: center;
}
.TotalPrice span{
    font-size: 25px;
    display: flex;
    font-weight: bold;
}
.TotalPrice div{
    font-size: 23px;
    font-weight: bold;
}
.TotalPrice button{
    width: 300px;
    height: 50px;
    border-radius: 6px;
    border: none;
    background-color: #B0D0D3;
    font-size: 20px;
    font-weight: bold;
}
.TotalPrice button:hover{
    background-color: rgb(34, 34, 34);
    color: white;
}
@media (max-width:480px) {
    .CartWrapper{
        flex-direction: column;
        padding-bottom: 10px;
    }
    .Cart{
        width: 100%;
    }
    .Cart h1{
       width: 100%;
       margin-left: 0;
        text-align: center;

    }
    .cartItem{
        /* background-color: darkgoldenrod; */
    }
    .innerCartItem{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: darkblue; */
    }
    .cartImgHolder{
        width: 100%;
        height: 200px;
        background-color: white;
        margin-left: 15px;
        display: flex; 
    }
    .detailtextHolder{
        width: 97%;
        /* background-color: firebrick; */
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        
    }
    .detailtextHolder p{
        width: 200px;
        margin-right: 0;
    }
    .line{
        width: 100%;
        margin-left: 0;
    }
    .TotalPrice{
        margin-top: 20px;
    }
    .TotalPrice p{
        margin-left: 0;
    }
    .TotalPrice{
        width: 100%;
    }
}
@media (min-width:481px) and (max-width:768px) {
    .CartWrapper{
        flex-direction: column;
        padding-bottom: 10px;
    }
    .Cart{
        width: 100%;
    }
    .Cart h1{
       width: 100%;
       margin-left: 0;
        text-align: center;

    }
    .cartItem{
        /* background-color: darkgoldenrod; */
    }
    .innerCartItem{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: darkblue; */
    }
    .cartImgHolder{
        width: 100%;
        height: 300px;
        background-color: white;
        margin-left: 15px;
        display: flex; 
    }
    .detailtextHolder{
        width: 97%;
        /* background-color: firebrick; */
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        
    }
    .detailtextHolder p{
        width: 200px;
        margin-right: 0;
    }
    .line{
        width: 100%;
        margin-left: 0;
    }
    .TotalPrice{
        margin-top: 20px;
    }
    .TotalPrice p{
        margin-left: 0;
    }
    .TotalPrice{
        width: 100%;
    }
}



.SecondSection{
    width: 100%;
    /* height: auto; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.SecondWrapper{
    width: 85%;
    /* background-color: lawngreen; */
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.Product a{
    text-decoration: none;
    color: black;
}

.RightSide{
    width: 71%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 55px;
}
.RightWrapper{
    width: 97%;
    /* background-color: lavender; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    /* padding-bottom: 20px; */
}

.ProductHolder{
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}
.Product{
    width: 250px;
    height: 350px;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.Product:nth-child(1){
    margin-top: 5px;
}
.Product:nth-child(2){
    margin-top: 5px;
}
.Product:nth-child(3){
    margin-top: 5px;
}
.ImgHolder{
    width: 250px;
    height: 250px;
    border-radius: 6px;
}
.ImgHolder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.DetailHolder{
    width: 100%;
    align-items: center;
    margin-top: 15px;
}
.LeftDetail{
    /* margin-top: 15px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* background-color: firebrick; */
}
.LeftDetail p{
    /* background-color: firebrick; */
    font-size: 14px;
}
.LeftDetail b{
    font-size: 20px;
    /* background-color: darkcyan; */
}
.RightDetail{
   display: flex;
   justify-content: space-between;
   /* align-items: flex-end; */
   /* flex-direction: column; */
    /* background-color: fuchsia; */
}
.RightDetail b{
    font-size: 17px;
}
.cartButton{
    width: 250px;
    height: 45px;
    /* padding: 8px 10px; */
    border-radius: 3px;
    border: none;
    background-color: #B0D0D3;
    color: black;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 2px;
}
.cartButton:hover{
    background-color: rgb(34, 34, 34);
    color: white;
}

@media (max-width:480px) {
    /* .LeftSide{
        display: none;
    } */
     .SecondWrapper{
        flex-direction: column-reverse;
     }

    .RightSide{
        width: 100%;
        display: flex;
        justify-content: center;
        /* background-color: teal; */
    }
    .RightWrapper{
        display: flex;
        justify-content: center;
        /* background-color: violet; */
    }
    .headText{
        gap: 15px;
        align-items: center;
        flex-direction: column;
    }
    .boldTexts{
        width: 100%;
        display: flex;
        /* background-color: white; */
    }
    .ProductHolder{
        align-items: center;
        justify-content: center;
        /* gap: 20px; */
    }
    .Product{
        gap: 20px;
    }
    .Product:nth-child(1){
        margin-top: 20px;
    }
    .Product:nth-child(2){
        margin-top: 30px;
    }
    .Product:nth-child(3){
        margin-top: 30px;
    }
}
@media (min-width:481px) and (max-width: 768px) {
    .LeftSide{
        display: none;
    }
    .RightSide{
        width: 100%;
        display: flex;
        justify-content: center;
        /* background-color: teal; */
    }
    .RightWrapper{
        display: flex;
        justify-content: center;
        /* background-color: violet; */
    }
    .headText{
        gap: 15px;
        align-items: center;
        flex-direction: column;
    }
    .boldTexts{
        width: 60%;
        display: flex;
        /* background-color: white; */
    }
    .ProductHolder{
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
    }
    .Product{
        /* margin: 50px; */
    }
    .Product:nth-child(1){
        margin-top: 0px;
    }
    .Product:nth-child(2){
        margin-top: 0px;
    }
    .Product:nth-child(3){
        margin-top: 0px;
    }
}

